@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$font1: "Space Mono", monospace;

$color1: hsl(172, 67%, 45%);
$color2: hsl(183, 100%, 15%);
$color3: hsl(186, 14%, 43%);
$color4: hsl(185, 41%, 84%);
$color5: hsl(189, 41%, 97%);
$color6: hsla(172, 78%, 64%, 0.623);

$colorError: rgba(209, 8, 8, 0.674);

// --fontePrincipal: "Space Mono";
//   --color1: hsl(172, 67%, 45%); /* Strong cyan        */
//   --color2: hsl(183, 100%, 15%); /* Very dark cyan     */
//   --color25: hsl(183, 64%, 27%);
//   --color3: hsl(186, 14%, 43%); /* Dark grayish cyan  */
//   --color4: hsl(184, 14%, 56%); /* Dark grayish cyan  */
//   --color5: hsl(185, 41%, 84%); /* Light grayish cyan */
//   --color6: hsl(189, 41%, 97%); /* Light grayish cyan */
//   --color7: hsla(172, 78%, 64%, 0.623);
