@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

$font1: "Space Mono", monospace;

$color1: hsl(172, 67%, 45%);
$color2: hsl(183, 100%, 15%);
$color3: hsl(186, 14%, 43%);
$color4: hsl(185, 41%, 84%);
$color5: hsl(189, 41%, 97%);
$color6: hsla(172, 78%, 64%, 0.623);

$colorError: rgba(209, 8, 8, 0.674);
